@font-face{
  font-family: "smart_font";
  src:url("design/font/SMART_FONT_UI.otf");
}

.identity{
  width:100%;
  height: auto;
  text-align: center;
}
.identity p{
  font-size:20px;
  font-family: "Arial";
}
.graph-oneweek{
  /* float: left; */
}
.graph{
  /* display: inline-block; */
  float: left;
}
.graph-doughnut{
  width: 30%;
  height: auto;
  position: relative;
  margin-right: 10%;
  /* display: inline-block; */
}
#myDoughnut-distance_weekly_sum{
  position: absolute;
  left:90%;
  top:0%;
  font-size: 80px;
  font-family: "Arial";
  font-style: "bold";
}
.myDoughnut-distance_weekly_sum_unit{
  position: absolute;
  left:130%;
  top:10%;
  font-size: 30px;
  font-family: "Arial";
  font-style: "bold";
}

.graph-bar{
  width: 50%;
  height: auto;
  /* display: inline-block; */
}
